<a href="https://colab.research.google.com/github/samby05/progra-III-2023/blob/main/ejemplos_b%C3%A1sicos_en_payton_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

introduccion a payton

declaracion de variables

In [ ]:
data=[2,5,6,8,9]

In [ ]:
resp=map(lambda n:n** 3,data)
print (list(resp))

[8, 125, 216, 512, 729]

In [ ]:
f=map(lambda c:c*9/5 + 32, data )
print(list(f))

[35.6, 41.0, 42.8, 46.4, 48.2]

In [ ]:
impar = filter(lambda x: x%2 != 0, data )
print(list(impar))

[5, 9]

In [ ]:
pares=filter(lambda  n:n%2!=0,data)
print(list(pares))

[5, 9]

In [ ]:
saludo ="hola mundo"

print(saludo)

hola mundo

In [ ]:
num1=5

num2=7.5

resp=num1+num2

print("la suma de ",num1,"+",num2,"=",resp)

la suma de  5 + 7.5 = 12.5

In [ ]:
name="samuel"

edad="19"

saludo= " hola "+ name + ", tu edad " + str(edad)

print(saludo)

 hola samuel, tu edad 19

In [ ]:
nombre= input("dime tu nombre:")

edad=input("tu edad:")

saludo="hola que tal " + nombre +", tu edad :" + edad

print(saludo)

dime tu nombre:samuel
tu edad:21
hola que tal samuel, tu edad :21

In [ ]:
num1=float (input("num1:"))

num2= float(input("num2:"))

resp= num1 + num2

print("la suma de ",resp)

num1:2
num2:2
la suma de  4.0

In [ ]:
num1=float(input("num1:"))

num2=float(input("num2"))

resp=num1-num2

print("la resta de",resp )

num1:1
num25
la resta de -4.0

ciclos

. FORD

In [ ]:
for item in data:
   print(item)

2
5
6
8
9

. WHILE

In [ ]:
i=0
n= len ( data)
while i<n:
  print (data[i])
  i+=1

2
5
6
8
9

tablas de multiplicar

In [ ]:
n=int(input("N tabla:"))
for i in range(1,11):
    print(n,"x",i,"=",n*i)

N tabla:7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70

calculo de sueldo

In [ ]:
tabla_isr=[
    [0.01,472,0,0],
    [472.01,895.24,0.1,17.67],
    [895.25,2038.1,0.2,60.00],
    [2038.11,9999999,0.3,288.57]

]

In [ ]:
edad= int (input("edad"))

if edad<=2:
  print("soy un bebe")
elif edad<=11:
  print("soy un niño")
elif edad<=18:
  print("soy un adolescente")
elif edad<=65:
  print("soy mayor de edad")
elif edad<=85:
  print("soy adulto mayor ")
else:
  print("larga vida")

edad4
soy un niño

OBTENER EL NUMERO MAYOR DE 10 DIGITOS

*escribir un programa  que pida la nota de un examen (0-10), e imprima por pantalla la calificacion en formato "suspenso" si la nota es menor a 5,aprobado si es entre 5 inclusive, y 7 sin incluir, "notable"si esta entre 7 inclusive y 9 incluir,"sobresaliente" si esta entre 9 inclusive y 10 sin concluir, y "honorable" si es 10 *

**Escriba un programa que encuentre la media aritmetica de una serie de numeros introducidos por el usuario.**

In [ ]:
numeros = int(input("¿Cuántos números deseas ingresar?: "))
suma = 0

for i in range(numeros):
  numero = float(input(f"Ingrese el número {i+1}: "))
  suma += numero

media = suma / numeros

print(f"La media aritmética de los {numeros} números es: {media}")

¿Cuántos números deseas ingresar?: 4
Ingrese el número 1: 34
Ingrese el número 2: 45
Ingrese el número 3: 45
Ingrese el número 4: 56
La media aritmética de los 4 números es: 45.0

**Escriba un programa que determine si una palabra introducida por el usuario es palindrome o no, ejm. de palabra palindrome: Ana, Oso, Oro, etc.**

In [ ]:
palabra = input("Introduce una palabra: ")
palabra = palabra.lower()

palabra_reversa = palabra[::-1]

if palabra == palabra_reversa:
    print(f"'{palabra}' es un palíndromo.")
else:
    print(f"'{palabra}' no es un palíndromo.")

Introduce una palabra: ana
'ana' es un palíndromo.

**Escriba un programa que convierta un numero por el usuario a su equivalente en numeros romanos: Ejm: 5 -> V.**

In [ ]:
def romano(n):
    mapa = {
        1: "I",
        4: "IV",
        5: "V",
        9: "IX",
        10: "X",
        40: "XL",
        50: "L",
        90: "XC",
        100: "C",
        400: "CD",
        500: "D",
        900: "CM",
        1000: "M"
    }

    resultado = []

    claves = sorted(mapa.keys(), reverse=True)

    for clave in claves:
        while n >= clave:
            resultado.append(mapa[clave])
            n -= clave

    return "".join(resultado)

try:
    numero = int(input("Introduce un número para convertirlo a números romanos: "))
    if numero <= 0 or numero > 5000:
        print("El número debe estar en el rango de 1 a 5000.")
    else:
        romano = romano(numero)
        print(f"El número {numero} en números romanos es {romano}")
except ValueError:
    print("Por favor, introduce un número válido.")

Introduce un número para convertirlo a números romanos: 96
El número 96 en números romanos es XCVI

In [ ]:
nota= float(input("Nota: "))
if(nota<0 or nota>10):
  print("nota invalida")
elif(nota<5):
  print("suspenso")
elif(nota<7):
  print("aprobado")
elif(nota<9):
  print("notable")
elif(nota<10):
  print("sobresaliente")
else:
  print("honorable")

Nota: 8
notable

In [ ]:
limit=int(input("limit:"))
a=0
b=1
c=0
while c<limit:
  c=a+b
  print(a,"+",b,"=",c)
  b=a
  a=c

limit:50
0 + 1 = 1
1 + 0 = 1
1 + 1 = 2
2 + 1 = 3
3 + 2 = 5
5 + 3 = 8
8 + 5 = 13
13 + 8 = 21
21 + 13 = 34
34 + 21 = 55

*1.escriba un programa que encuentre la media aritmetica de una serie de numeros introduciodos por el usuario*
*2.escriba un progrma que determinesi una palabra introducida por el ususario es palindrome o no , ejem de palambras palindromes: ana, oso oro etc*
*3. escribe un programa que convierta un nmero introducido por el usuarioasu equivalente en numeros romanos ejm: 5->V*

*EJERCICIO PRACTICOS*

In [ ]:
#1- Calcular sobre el sueldo las deducciones por ley ISSS (3%), AFP(6.25%), ISR(Según tabla) e imprima el total deducciones y sueldo neto.
def DesImpuesto(sueldo):
  return (sueldo)*0.03 + (sueldo)*0.0625

In [ ]:
def calcularSueldo(sueldo):
  return(sueldo) - (DesImpuesto(sueldo))

In [ ]:
def Impuesto2 (sueldo):
  return (calcularSueldo(sueldo) - 895.24)*0.20 + 60

In [ ]:
def Impuesto3 (sueldo):
  return (calcularSueldo(sueldo) - 2032.10)*0.30 + 288.57

In [ ]:
sueldo= float (input("Ingrese su sueldo:"))

Ingrese su sueldo:900

In [ ]:
print("Su sueldo es:",calcularSueldo(sueldo))

Su sueldo es: 816.75

In [ ]:
if sueldo <=472 :
  print("ud no aplica a ISR")

In [ ]:
if sueldo >= 472.01 and sueldo <=895.24:
  print("Su retencion de impuesto sobre la renta en su sueldo de:",calcularSueldo(sueldo),"es de :",Impuesto1(sueldo))

In [ ]:
if sueldo >= 895.25 and sueldo <=2038.10:
  print("Su retencion de impuesto sobre la renta en su sueldo de:",calcularSueldo(sueldo),"es de :",Impuesto2(sueldo))

Su retencion de impuesto sobre la renta en su sueldo de: 816.75 es de : 44.302

In [ ]:
if sueldo >= 2038.11:
  print("Su retencion de impuesto sobre la renta en su sueldo de:",calcularSueldo(sueldo),"es de :",Impuesto3(sueldo))

In [ ]:
#2- Calcular el valor a pagar según el número de metros consumidos de agua potable
respuesta = input("Ver menu:\n")
while respuesta == "si":
  mts = int(input("Escribe la cantida de metros consumidos: "))
  if mts >= 1 and mts <= 18:
    calc = lambda m:m*6
    print("cuota de 1 - 18")
    print("Total $:", calc(mts), "\n")
    respuesta = input("Deseas seguir viendo el menu: ")

  elif mts >= 19 and mts <= 28:
    calc = lambda m:(m-18)*0.45+6
    print("cuota de 19 - 28")
    print("Total $:", calc(mts), "\n")
    respuesta = input("Deseas seguir viendo el menu: ")

  elif mts >= 29:
    calc = lambda m :(m-28)*0.65+(28-18)*0.45+6
    print("cuota de 29 en adelante")
    print("Total $:", calc(mts), "\n")
    respuesta = input("Deseas seguir viendo el menu: ")
print("Saliste del menu")

Ver menu:
si
Escribe la cantida de metros consumidos: 35
cuota de 29 en adelante
Total $: 15.05

Deseas seguir viendo el menu: no
Saliste del menu

In [ ]:
#3- Desarrolle la tabla de meses acumulados a n meses. Si puede encontrar la formula matemática para evitar ciclos.

mes = int(input("Escriba cuantos meses va a pagar: "))
def sum(mes):
  n = mes
  formula = n * (n + 1) / 2
  total = formula
  print("Mes:", n, "\nAcumulado:", total)

sum(mes)

Escriba cuantos meses va a pagar: 450
Mes: 450
Acumulado: 101475.0

In [ ]:
#4- Conversores:(10 ítems como mínimo por cada uno) Moneda, Longitud, Masa, Almacenamiento, Tiempo, Volumen, Área
def convertir(conversor, de, a, cantidad):
  return valores[conversor][a] / valores[conversor][de] * cantidad

In [ ]:
etiquetas = [
  [],

  ["Seleccione una divisa", "1. Dolares", "2. quetzales", "3. lempiras", "4. cordoba", "5. pesos CR", "6. Euros", "7. colon SV", "8. Yenes",
   "9. Soles Peruanos", "10. Libras Esterlinas"], #Divisas
  ["Seleccione una opcion", "1. Metros", "2. Milimetros", "3. Centimetro", "4. Pie", "5. Varas", "6. Yardas", "7. Km", "8. Millas",
   "9. Micrometro", "10. Nanometro"], #Longitud
  ["Selecciona una unidad de medida:", "1. Tonelada", "2. Kilogramo", "3. Gramo", "4. Centigramo",
  "5. Miligramo", "6. Microgramo", "7. Tonelada corta", "8. Stone", "9. Libra", "10. Onza"], #Masa
  ["Seleccione una unidad de medida", "1. Pebibyte", "2. Petabyte", "3. Tetibyte", "4. Terabyte", "5. Gibibyte",
   "6. Gigabyte", "7. Mebibyte", "8. Megabyte", "9. Kibibyte", "10. Kilobyte", "11. Byte"], #Almacenamiento
  ["Selecciona una unidad de medida:", "1. Siglo", "2. Decada", "3. Año natural", "4. Mes", "5. Semana",
   "6. Dia", "7. Hora", "8. Minuto", "9. Segundo", "10. Milisegundo"], #Tiempo
  ["Selecciona una unidad de medida:", "1. Metro cubico", "2. Litro", "3. Mililitro", "4. Galon imperial", "5. Cuarto imperial",
   "6. Pinta imperial", "7. Taza imperial", "8. Onza liquida imperial", "9. Cucharada imperial", "10. Cucharadita imperial"], #Volumen
  ["Selecciona una unidad de medida:", "1. Kilometro cuadrado", "2. Metro cuadrado", "3. Milla cuadrada", "4. Yarda cuadrada", "5. Pie cuadrado",
   "6. Pulgada cuadrada", "7. Hectarea", "8. Acre", "9. Tareas", "10. Manzanas"] #Area
]
valores = [[],
    [0, 1, 7.71, 24.51, 35.77, 664.64, 0.98, 0.75, 134.13, 3.84, 0.85], #Divisas
    [0, 1, 1000, 100, 3.28084, 1.1963081929167, 1.0936133, 0.001, 0.000621371, 1e+6, 1e+9], #Longitudes
    [0, 1, 1000, 1e+6, 1e+8, 1e+9, 1e+12, 1.102, 157.5, 2205, 35270], #Masa
    [0, 1, 1.126, 1024, 1126, 1.049e+6, 1.126e+6, 1.074e+9, 1.126e+9, 1.1e+12, 1.126e+12, 1.126e+15], #Almacenamiento
    [0, 1, 10, 100, 1200, 5214, 36500, 876000, 5.256e+7, 3.154e+9, 3.154e+12], #Tiempo
    [0, 1, 1000, 1e+6, 220, 879.9, 1760, 3520, 35200, 56310, 168900], #Volumen
    [0, 1, 1e+6, 0.3861, 1.196e+6, 1.076e+7, 1.55e+9, 100, 247.1, 1590.3307888, 141.7] #Area
]

In [ ]:
print("**MENU CONVERSOR**")
print("1. Divisas")
print("2. Longitud")
print("3. Masa")
print("4. Almacenamiento")
print("5. Tiempo")
print("6. Volumen")
print("7. Area")
opcion = int(input("Conversor: "))
print("Conversor elegido: ", etiquetas[opcion])
de = int(input("De: "))
a = int(input("A: "))
cantidad = int(input("Cantidad: "))
print("Conversion de ", etiquetas[opcion][de], "a", etiquetas[opcion][a], "equivale a", convertir(opcion, de, a, cantidad))

**MENU CONVERSOR**
1. Divisas
2. Longitud
3. Masa
4. Almacenamiento
5. Tiempo
6. Volumen
7. Area
Conversor: 1
Conversor elegido:  ['Seleccione una divisa', '1. Dolares', '2. quetzales', '3. lempiras', '4. cordoba', '5. pesos CR', '6. Euros', '7. colon SV', '8. Yenes', '9. Soles Peruanos', '10. Libras Esterlinas']
De: 2
A: 5
Cantidad: 100
Conversion de  2. quetzales a 5. pesos CR equivale a 8620.492866407263

In [ ]:
#5- Realizar un conversor propio, donde espesifique el valor de conversión:
#Realizar conversion de caja a unidades y viceversa
print("1 caja equivale a 25 unidades")
print("")
cj = float(input("Ingresa una cantidad de cajas: "))
unidades = cj*25
print(cj,"cajas equivalen a", unidades,"unidades")

1 caja equivale a 25 unidades

Ingresa una cantidad de cajas: 45
45.0 cajas equivalen a 1125.0 unidades

In [ ]:
#Viseversa
uni = float(input("Ingresa una cantidad de unidades: "))
cj = uni/25
print(uni,"unidades equivalen a",cj,"cajas")

Ingresa una cantidad de unidades: 34.5
34.5 unidades equivalen a 1.38 cajas

In [ ]:
#Realizar conversion de sacos a libras y viseversa
print("1 saco equivale a 50 libras")
print("")
sc = float(input("Ingresa una cantidad de sacos: "))
lb = sc*50
print(sc,"sacos equivalen a", lb,"libras")

1 saco equivale a 50 libras

Ingresa una cantidad de sacos: 44.5
44.5 sacos equivalen a 2225.0 libras

In [ ]:
#Viseversa
lb = float(input("Ingresa una cantidad de libras: "))
sc = lb/50
print(lb,"libras equivalen a",sc,"sacos")

Ingresa una cantidad de libras: 55.7
55.7 libras equivalen a 1.114 sacos

In [ ]:
#Realizar conversion de fardos a unidades y viseversa
print("1 fardo equivale a 5 unidades")
print("")
fr = float(input("Ingresa una cantidad de fardos: "))
un = fr*5
print(fr,"fardos equivalen a", un,"unidades")

1 fardo equivale a 5 unidades

Ingresa una cantidad de fardos: 56.98
56.98 fardos equivalen a 284.9 unidades

In [ ]:
#Viseversa
un = float(input("Ingresa una cantidad de unidades: "))
fr = un/5
print(un,"unidades equivalen a",fr,"fardos")

Ingresa una cantidad de unidades: 555
555.0 unidades equivalen a 111.0 fardos

**PROGRAMACION ORDENADA A OBJETOS**

In [ ]:
class calculadora:
  def sumar(self,num1,num2):
    return num1 + num2

**INTANSIA DE UNA CLASE**

In [ ]:
objcalculadora = calculadora()

**OBJETO**

In [ ]:
print("la suma de 2+3 =",objcalculadora,sumar(5,3))

NameError: ignored

**PRIMER PARCIAL DEL COMPUTO 1**

**Desarrolle el conversor de Área (Superficie) haciendo uso de los
diccionarios y las funciones de usuario en Python que contenga las
siguientes opciones

a. Pie Cuadrado

b. Vara Cuadrada

c. Yarda Cuadrada

d. Metro Cuadrado

e. Tareas

f. Manzana

g. Hectárea**

In [ ]:
areas = {
    'Pie Cuadrado': 75820.9849753,
    'Vara Cuadrada': 8424.55388614,
    'Yarda Cuadrada': 1.19599,
    'Metro Cuadrado': 6989.96,
    'Tareas': 16,
    'Manzana': 1,
    'Hectárea': 0.698896
}

def convert_area(valor, from_unit, to_unit):
    if from_unit in areas and to_unit in areas:
        valor_convertir = valor * (areas[to_unit] / areas[from_unit])
        return valor_convertir
    else:
        return None

def main():
    print("Conversor de Áreas")
    print("Unidades disponibles:", ", ".join(areas.keys()))

    from_unit = input("Ingrese la unidad de área de origen: ")
    to_unit = input("Ingrese la unidad de área de destino: ")

    if from_unit in areas and to_unit in areas:
        valor = float(input(f"Ingrese el valor en {from_unit}: "))
        valor_convertir = convert_area(valor, from_unit, to_unit)
        if valor_convertir is not None:
            print(f"{valor} {from_unit} equivale a {valor_convertir} {to_unit}")
        else:
            print("Las unidades ingresadas no son válidas.")
    else:
        print("Las unidades ingresadas no son válidas.")

if __name__ == "__main__":
    main()

Conversor de Áreas
Unidades disponibles: Pie Cuadrado, Vara Cuadrada, Yarda Cuadrada, Metro Cuadrado, Tareas, Manzana, Hectárea
Ingrese la unidad de área de origen: Vara cuadra
Ingrese la unidad de área de destino: Yarda Cuadrada
Las unidades ingresadas no son válidas.